*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.top{
    background-color: #1ed760;
    text-align: center;
    padding: 30px;
}

.login{
    position: absolute;
    top: 35%;
    left: 30%;
    width: 300px;
    height: 140px;
}

.log h1{
    color:white;
    letter-spacing: 1px;
    margin-bottom: 3px;
}
.log{
    font-size: larger;
    border-bottom:3px solid white;
    margin-left: 5px;
}

.in{
    margin: 10px 0;
    
}

.in input{
    background: none;
    border: none;
    outline: none;
    margin: 5px;
    color: white;
    font-size: medium;
    width: 100%;
    padding-bottom: 3px;
    border-bottom:1px solid #1ed760;
}

.in input::placeholder{
    color: white;
}

#sub{
    font-size: small;
    font-weight: 700;
    outline: none;
    border: none;
    margin: 5px;
    background-color: #1ed760;
    padding:8px;
    border-radius: 2px;
}

#sub:hover{
    background-color: white;
    color: #1ed760;
}

.imglog{
    position: absolute;
    right: 30%;
    top: 18%;
}

.imglog img{
    height: 500px;
    border-radius: 20px;
}

.btn{
    position: absolute;
    bottom: 2%;
    left: 20%;
    background-color: #1ed760;
}

.btn a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 3px 10px;
}